* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f4f8;
}

.lkjhgfd {
    width: 320px;
    background: #fff;
    padding: 25px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.role {
    color: #666;
    margin-bottom: 15px;
}

.info p {
    font-size: 14px;
    margin: 6px 0;
    color: #444;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    transition: background 0.3s;
}

.btn:hover {
    background: #1e40af;
}
